<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
        </div>
        <form id="register" class="user" action="/accounts" method="POST">
            <div class="form-group">
                <input type="text" name="username" class="form-control form-control-user" id="exampleInputUsername" placeholder="Username" required autofocus minlength="3">
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address" required>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" name="password" class="form-control form-control-user" id="password" placeholder="Password" required minlength="8">
                </div>
                <div class="col-sm-6">
                    <input type="password" name="confirm_password" class="form-control form-control-user" id="confirm_password" placeholder="Repeat Password" required minlength="8">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
            </button>
            <hr>
            <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
            </a>
            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
            </a>
        </form>
        <hr>
        <div class="text-center">
            <a class="small" href="/auth/login">Already have an account? Login!</a>
        </div>
    </div>
</div>