<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Client list</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total Reserved</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Total Reserved</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    <% accounts.forEach(account => { %>
                        <tr>
                            <td>
                                <%= account.username %>
                            </td>
                            <td>
                                <%= account.bookings.length %>
                            </td>
                            <td><button class="btn btn-sm btn-primary">show</button></td>
                        </tr>
                        <% }) %>

                </tbody>
            </table>
        </div>
    </div>
</div>