
<div id="fh5co-header">
    <header id="fh5co-header-section">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                <h1 id="fh5co-logo"><a href="index.html">HighQua</a></h1>
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li><a class="active" href="/">Home</a></li>
                        <li>
                            <a href="/rooms" class="fh5co-sub-ddown">Rooms</a>
                            <ul class="fh5menuco-sub-">
                                <li><a href="#"> Single Rooms </a></li>
                                <li><a href="#"> Double Rooms </a></li>
                                <li>
                                    <a href="#" class="fh5co-sub-ddown">King Hotel</a>
                                    <ul class="fh5co-sub-menu">
                                        <li><a href="http://code-projects.org/" target="_blank">Build</a></li>
                                        <li><a href="http://code-projects.org/" target="_blank">Work</a></li>
                                        <li><a href="http://code-projects.org/" target="_blank">Light</a></li>
                                        <li><a href="http://code-projects.org/" target="_blank">Relic</a></li>
                                        <li><a href="http://code-projects.org/" target="_blank">Display</a></li>
                                        <li><a href="http://code-projects.org/" target="_blank">Sprint</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Five Star Hotel</a></li>
                            </ul>
                        </li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="login.html">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

</div>