<!-- end:fh5co-header -->
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(/public/images/slider1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Elegant Rooms </span></p>
                                <h2>Reserve Room for Family Vacation</h2>
                                <p>
                                    <a href="/reservation.ejs" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/slider2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Astonishing Lounges </span></p>
                                <h2>Make Your Vacation Comfortable</h2>
                                <p>
                                    <a href="/reservation.ejs" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/garden.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> HighQua World Wide Gardens </span></p>
                                <h2> A Peaceful View to Stay Away from Stress </h2>
                                <p>
                                    <a href="/reservation.ejs" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/restaurant.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Undersea Restaurant </span></p>
                                <h2> Beautiful Enough Above the Ocean Surface </h2>
                                <p>
                                    <a href="/reservation.ejs" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/lobby.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Oceanarium Hotel Lobby </span></p>
                                <h2> Time to Hang Out in for Hours </h2>
                                <p>
                                    <a href="/reservation.ejs" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/slider3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> HighQua Hotel Entire View </span></p>
                                <h2>A Best Place To Enjoy Your Life</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<!-- HighQua Check Availability -->
<div class="wrap">
    <div class="container">
        <div class="row">
            <div id="availability">
                <form action="#">

                    <div class="a-col">
                        <section>
                            <select class="cs-select cs-skin-border">
                                <option value="" disabled selected>Select Suite</option>
                                <option value="email"> Royal Suite </option>
                                <option value="twitter">Overflow Bungalo Suite </option>
                                <option value="linkedin"> Presidential Suite </option>
                                <option value="email"> Villa  Suite </option>
                                <option value="twitter"> Penthouse Suite </option>
                                <option value="linkedin"> Terrace Suite </option>
                                <option value="email"> Junior Suite </option>
                                <option value="twitter"> Deluxe Suite </option>
                                <option value="linkedin"> Executive Suite </option>
                            </select>
                        </section>
                    </div>
                    <div class="a-col alternate">
                        <div class="input-field">
                            <label for="date-start">Check In</label>
                            <input type="text" class="form-control" id="date-start" />
                        </div>
                    </div>
                    <div class="a-col alternate">
                        <div class="input-field">
                            <label for="date-end">Check Out</label>
                            <input type="text" class="form-control" id="date-end" />
                        </div>
                    </div>
                    <div class="a-col action">
                        <a href="#">
                            <span>Check</span> Availability
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- HighQua Ratings Site -->
<div id="fh5co-counter-section" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">User Access</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="15501" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Hotels</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8200" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Transactions</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8763" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Rating &amp; Review</span>
            </div>
        </div>
    </div>
</div>

<!-- Featured HighQua Suites -->
<div id="featured-hotel" class="fh5co-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2 class="display-4 text-center mb-4">Featured HighQua Suites </h2>
                </div>
            </div>
        </div>

        <div class="row" id="royal">
            <div class="feature-full-1col">
                <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                    <div class="descrip text-center">
                        <p><small>For as low as</small><span>$100/night</span></p>
                    </div>
                </div>
                <div class="desc">
                    <ul class="list-group">
                        <h2 style="color: orange;"> Royal Suite </h2>
                        <p class="text-justify"> A blissful room with two (2) bedrooms that can fit a King-size bed and two (2) single beds.</p>
                        <p><a href="#" class="btn btn-primary btn-luxe-primary"> Book Now <i class="ti-angle-right"></i></a></p>
                        <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#royalSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                </div>
            </div>


            <div class="feature-full-2col">
                <div class="f-hotel">
                    <div class="image" style="background-image: url(/public/images/hotel_feture_2.jpg);">
                        <div class="descrip text-center">
                            <p><small>For as low as</small><span>$99/night</span></p>
                        </div>
                    </div>
                    <div class="desc">
                        <ul class="list-group">
                            <h2 style="color: orange;"> Oveflow Bungalo Suite </h2>
                            <p class="text-justify"> The famous overwater bungalows (also known as overwater villas) are perfect for couples, honeymooners and people who love to see the view of the endless sea.</p>
                        </ul>
                        <p><a href="#" class="btn btn-primary btn-luxe-primary"> Book Now <i class="ti-angle-right"></i></a></p>
                        <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#overflowBungalo"> More Details <i class="ti-angle-right"></i> </a> </p>
                    </div>
                </div>
                <div class="f-hotel">
                    <div class="image" style="background-image:
                        url(/public/images/hotel_feture_3.jpg);">
                        <div class="descrip text-center">
                            <p><small>For as low as</small><span>$99/night</span></p>
                        </div>
                    </div>
                    <div class="desc">
                        <h2 style="color: orange;"> Presidential Suite </h2>
                        <p class="text-justify"> A suite for presidents, owners of companies, hedge fund managers, A-list celebrities or anyone how can afford it to pay the highest price for a suite. </p>
                        <p><a href="#" class="btn btn-primary btn-luxe-primary"> Book Now <i class="ti-angle-right"></i></a></p>
                        <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#presidentialSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="feature-full-1col">
                    <div class="image" style="background-image:
                        url(/public/images/hotel_feture_1.jpg);">
                        <div class="descrip text-center">
                            <p><small>For as low as</small><span>$100/night</span></p>
                        </div>
                    </div>
                    <div class="desc">
                        <h2 style="color: orange;"> Villa Suite </h2>
                        <p class="text-justify">People who like huge space inside and outside as well as garden; a luxury villa is a perfect choice. Villas are also good for families or group of friends. </p>
                        <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                        <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#villaSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                    </div>
                </div>

                <div class="feature-full-2col">
                    <div class="f-hotel">
                        <div class="image" style="background-image:
                            url(/public/images/hotel_feture_2.jpg);">
                            <div class="descrip text-center">
                                <p><small>For as low as</small><span>$99/night</span></p>
                            </div>
                        </div>
                        <div class="desc">
                            <h2 style="color: orange;"> Penthouse Suite </h2>
                            <p class="text-justify"> For everyone who wants to enjoy the magnificent view from the spacious suite or from the roof terrace with family, friends, colleagues or business partners.</p>
                            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                            <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#penthouseSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                        </div>
                    </div>
                    <div class="f-hotel">
                        <div class="image" style="background-image:
                            url(/public/images/hotel_feture_3.jpg);">
                            <div class="descrip text-center">
                                <p><small>For as low as</small><span>$99/night</span></p>
                            </div>
                        </div>
                        <div class="desc">
                            <h2 style="color: orange;"> Terrace Suite </h2>
                            <p class="text-justify">If you like big terraces with wonderful view and you like to spend most of your time outside instead of inside in your vacation, terrace suite will be perfect for you. </p>
                            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                            <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#terraceSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="feature-full-1col">
                    <div class="image" style="background-image:
                        url(/public/images/hotel_feture_1.jpg);">
                        <div class="descrip text-center">
                            <p><small>For as low as</small><span>$100/night</span></p>
                        </div>
                    </div>
                    <div class="desc">
                        <h2 style="color: orange;"> Junior Suite </h2>
                        <p> Junior suites are perfect for travelers, who just like to taste the feeling of luxury hotel suites. If you have never ever booked a hotel suite before, may you try junior suite first. </p>
                        <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                        <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#juniorSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                    </div>
                </div>

                <div class="feature-full-2col">
                    <div class="f-hotel">
                        <div class="image" style="background-image:
                            url(/public/images/hotel_feture_2.jpg);">
                            <div class="descrip text-center">
                                <p><small>For as low as</small><span>$99/night</span></p>
                            </div>
                        </div>
                        <div class="desc">
                            <h2 style="color: orange;"> Deluxe Suite </h2>
                            <p class="text-justify"> A classical minimalist style suite with high quality materials. Deluxe suites are recommended for people who like spacious accommodation in reasonable price. </p>
                            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                            <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#deluxeSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                        </div>
                    </div>
                    <div class="f-hotel">
                        <div class="image" style="background-image:
                            url(/public/images/hotel_feture_3.jpg);">
                            <div class="descrip text-center">
                                <p><small>For as low as</small><span>$99/night</span></p>
                            </div>
                        </div>
                        <div class="desc">
                            <h2 style="color: orange;"> Executive Suite </h2>
                            <p class="text-justify">Executive suite is perfect suite type for top managers, business men and women or company’s CEO, CFO, COO, CTO etc. </p>
                            <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                            <p><a href="#" class="btn btn-warning btn-luxe-primary" data-toggle="modal" data-target="#executiveSuite"> More Details <i class="ti-angle-right"></i> </a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Modal Royal Suite  -->
<div class="modal fade " id="royalSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Royal Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Royal Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>


<!-- Modal OverwaterBungalow Suite  -->
<div class="modal fade " id="overflowBungalo" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Overwater Bungalow Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Overwater Bungalow Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>

<!-- Presidential Suite -->
<div class="modal fade " id="presidentialSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Presidential Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Presidential Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>



<!-- Modal Villa Suite -->
<div class="modal fade " id="villaSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Villa Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Villa Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>


<!-- Modal Penthouse Suite -->
<div class="modal fade " id="penthouseSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Penthouse Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Penthouse Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>


<!-- Modal Terrace Suite -->
<div class="modal fade " id="terraceSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Terrace Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Terrace Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>


<!-- Modal Junior Suite -->
<div class="modal fade " id="juniorSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Junior Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Junior Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>


<!-- Modal Deluxe Suite -->
<div class="modal fade " id="deluxeSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Deluxe Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Deluxe Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>


<!-- Modal Executive Suite -->
<div class="modal fade " id="executiveSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Executive Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Executive Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div>


<!-- HighQua Features Facilities -->
<!-- <div class="modal fade " id="villaSuite" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Villa Suite </h4>
            </div>
        </div>
        <div class="feature-full-1col">
            <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                <div class="descrip text-center">
                    <p><small>For as low as</small><span>$100/night</span></p>
                </div>
            </div>
            <div class="desc">
                <ul class="list-group">
                    <h2 style="color: orange;"> Villa Suite </h2>
                    <p> Suite Details</p>
                    <ul>
                        <li> 431-539 sq ft / 40-50 sq m </li>
                        <li> 1 King-sized bed</li>
                        <li> 3 Adults and 2 Children (maximum occupancy)</li>
                        <li> Rooms located at 30/F </li>
                        <li> City View </li>
                    </ul>

                    <p> Suite Anemities </p>
                    <ul>
                        <li> Free wireless internet connection throughout the property </li>
                        <li> Cable TV </li>
                        <li> Shower and/or bathtub</li>
                        <li> Coffee & Tea facilities </li>
                        <li> Complimentary newspapers available </li>
                    </ul>
                </ul>
                <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
            </div>
        </div>
    </div>
</div> -->


<!-- HighQua Testimonials -->
<div id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Happy Customer Says...</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="testimony">
                    <blockquote>
                        &ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;
                    </blockquote>
                    <p class="author"><cite>John Doe</cite></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimony">
                    <blockquote>
                        &ldquo;Me and my wife had a delightful weekend get away here, the staff were so friendly and attentive. Highly Recommended&rdquo;
                    </blockquote>
                    <p class="author"><cite>Rob Smith</cite></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimony">
                    <blockquote>
                        &ldquo;If you’re looking for a top quality hotel look no further. We were upgraded free of charge to the Premium Suite, thanks so much&rdquo;
                    </blockquote>
                    <p class="author"><cite>Jane Doe</cite></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="fh5co-blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Our Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="blog-grid" style="background-image:
                    url(/public/images/image-1.jpg);">
                    <div class="date text-center">
                        <span>09</span>
                        <small>Aug</small>
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="#">Most Expensive Hotel</a></h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-grid" style="background-image:
                    url(/public/images/image-2.jpg);">
                    <div class="date text-center">
                        <span>09</span>
                        <small>Aug</small>
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="#">1st Anniversary of Luxe Hotel</a></h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-grid" style="background-image:
                    url(/public/images/image-3.jpg);">
                    <div class="date text-center">
                        <span>09</span>
                        <small>Aug</small>
                    </div>
                </div>
                <div class="desc">
                    <h3><a href="#">Discover New Adventure</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>