<div class="fh5co-parallax" style="background-image: url(/public/images/image-1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">Make a Reservation</h1>
                    <p>You'll surely enjoy your stay!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-contact-section">
    <div class="row">
        <div class="col-md-3">
            <div id="map" class="fh5co-map"></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h3>Our Address</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <ul class="contact-info">
                    <li><i class="ti-map"></i>198 West 21th Street, Suite 721 New York NY 10016</li>
                    <li><i class="ti-mobile"></i>+ 1235 2355 98</li>
                    <li><i class="ti-envelope"></i><a href="#">info@yoursite.com</a></li>
                    <li><i class="ti-home"></i><a href="#">www.yoursite.com</a></li>
                </ul>
            </div>
            <div class="col-md-12">

                <form action="/bookings" method="post" class="">
                    <div class="form-group row">
                        <label for="date-start" class=" col-md-3 col-form-label text-left">Check In</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control inline " id="date-start" name="checkIn" data-date-format="yyyy-mm-dd" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date-end" class="col-md-3 col-form-label text-left">Check Out</label>
                        <div class="col-sm-6 ">
                            <input type="text" class="form-control inline  " id="date-end" name="checkOut" data-date-format="yyyy-mm-dd" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bookingDate">Booking Date</label>

                        <input type="text" class="form-control rounded" name="datefilter" id="demo" value="" />

                    </div>

                    <div class="form-group">


                        <input type="submit" value="Reserve Now" class="btn btn-primary">

                    </div>
            </div>
            <div id="paypal-button"> Paypal </div>
            </form>



        </div>

    </div>


    </script>