<!-- Carousel Images -->
<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(/public/images/slider1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Elegant Rooms </span></p>
                                <h2>Reserve Room for Family Vacation</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/slider2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Astonishing Lounges </span></p>
                                <h2>Make Your Vacation Comfortable</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/garden.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> HighQua World Wide Gardens </span></p>
                                <h2> A Peaceful View to Stay Away from Stress
                                </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/restaurant.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Undersea Restaurant </span></p>
                                <h2> Beautiful Enough Above the Ocean Surface
                                </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/lobby.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> Oceanarium Hotel Lobby </span></p>
                                <h2> Time to Hang Out in for Hours </h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/public/images/slider3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-12 col-md-offset-0 text-center
                        slider-text">
                        <div class="slider-text-inner js-fullheight">
                            <div class="desc">
                                <p><span> HighQua Hotel Entire View </span></p>
                                <h2>A Best Place To Enjoy Your Life</h2>
                                <p>
                                    <a href="#" class="btn btn-primary btn-lg">Book
                                        Now</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<!-- End of Carousel Images -->

<!-- User Accessibility-->
<div class="wrap">
    <div class="container">
        <div class="row">
            <div id="availability">
                <form action="#">
                    <div class="a-col">
                        <section>
                            <select class="cs-select cs-skin-border">
                                <option value="" disabled selected>Select Suite</option>
                                <option value=""> Royal </option>
                                <option value=""> Overflow Bungalo </option>
                                <option value="">Presidential</option>
                                <option value=""> Villa  </option>
                                <option value=""> Penthouse  </option>
                                <option value=""> Terrace </option>
                                <option value=""> Junior </option>
                                <option value=""> Deluxe  </option>
                                <option value=""> Executive </option>
                            </select>
                        </section>
                    </div>
                    <div class="a-col alternate">
                        <div class="input-field">
                            <label for="date-start">Check In</label>
                            <input type="text" class="form-control" id="date-start" />
                        </div>
                    </div>
                    <div class="a-col alternate">
                        <div class="input-field">
                            <label for="date-end">Check Out</label>
                            <input type="text" class="form-control" id="date-end" />
                        </div>
                    </div>
                    <div class="a-col action">
                        <a href="#">
                            <span>Check</span> Availability
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of User Acessibility -->

<!-- Display Rating -->
<div id="fh5co-counter-section" class="fh5co-counters">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="100" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">User Access</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="15501" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Hotels</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8200" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Transactions</span>
            </div>
            <div class="col-md-3 text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="8763" data-speed="5000" data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Rating &amp; Review</span>
            </div>
        </div>
    </div>
</div>

<!-- FeATURED HighQua -->
<div class="row">
    <div class="col-md-12">
        <div class="section-title text-center">
            <h2 class="display-4 text-center mb-4">Featured HighQua Suites </h2>
        </div>
    </div>
</div>


<!-- Nav tabs -->
<!-- <div class="card">
    <ul class="nav nav-tabs text-center" role="tablist" class="nav navbar-collapse">
        <li role="presentation" style="width: 12%;"><a href="#juniorSuite" aria-controls="HighQua Junior Suite" role="tab" data-toggle="tab"> Royal </a></li>
        <li role="presentation" style="width: 12%;"><a href="#deluxeSuite" aria-controls="HighQua Deluxe Suite" role="tab" data-toggle="tab"> Overflow Bungalo   </a></li>
        <li role="presentation" style="width: 12%;"><a href="#executiveSuite" aria-controls="HighQua Executive Suite" role="tab" data-toggle="tab"> Presidential  </a></li>
        <li role="presentation" style="width: 12%;"><a href="#terraceSuite" aria-controls="HighQua Terrace Suite" role="tab" data-toggle="tab"> Villa </a></li>
        <li role="presentation" style="width: 12%;"><a href="#penthouseSuite" aria-controls="Penthouse Suite" role="tab" data-toggle="tab"> Penthouse  </a></li>
        <li role="presentation" style="width: 12%;"><a href="#bungaloSuite" aria-controls="HighQua OverflowBungalow Suite" role="tab" data-toggle="tab"> Terrace  </a></li>
        <li role="presentation" style="width: 12%;"><a href="#presidentialSuite" aria-controls="HighQua Presidential Suite" role="tab" data-toggle="tab"> Junior </a></li>
        <li role="presentation" style="width: 12%;"><a href="#royalSuite" aria-controls="HighQua Royal Suite" role="tab" data-toggle="tab"> Deluxe </a></li>
        <li role="presentation" style="width: 12%;"><a href="#royalSuite" aria-controls="HighQua Royal Suite" role="tab" data-toggle="tab"> Executive </a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="juniorSuite">
            <legend> Junior Suite </legend>
            <div class="feature-full-1col">
                <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                    <div class="descrip text-center">
                        <p><small>For as low as</small><span>$100/night</span></p>
                    </div>
                </div>
                <div class="desc">
                    <ul class="list-group">
                        <h2 style="color: orange;"> Junior Suite </h2>
                        <p> Suite Details</p>
                        <ul>
                            <li> 431-539 sq ft / 40-50 sq m </li>
                            <li> 1 King-sized bed</li>
                            <li> 3 Adults and 2 Children (maximum occupancy)</li>
                            <li> Rooms located at 30/F </li>
                            <li> City View </li>
                        </ul>

                        <p> Suite Anemities </p>
                        <ul>
                            <li> Free wireless internet connection throughout the property </li>
                            <li> Cable TV </li>
                            <li> Shower and/or bathtub</li>
                            <li> Coffee & Tea facilities </li>
                            <li> Complimentary newspapers available </li>
                        </ul>
                    </ul>
                    <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane active" id="deluxeSuite">
            <legend> Deluxe Suite</legend>
            <div class="feature-full-1col">
                <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                    <div class="descrip text-center">
                        <p><small>For as low as</small><span>$100/night</span></p>
                    </div>
                </div>
                <div class="desc">
                    <ul class="list-group">
                        <h2 style="color: orange;"> Deluxe Suite </h2>
                        <p> Suite Details</p>
                        <ul>
                            <li> 431-539 sq ft / 40-50 sq m </li>
                            <li> 1 King-sized bed</li>
                            <li> 3 Adults and 2 Children (maximum occupancy)</li>
                            <li> Rooms located at 30/F </li>
                            <li> City View </li>
                        </ul>

                        <p> Suite Anemities </p>
                        <ul>
                            <li> Free wireless internet connection throughout the property </li>
                            <li> Cable TV </li>
                            <li> Shower and/or bathtub</li>
                            <li> Coffee & Tea facilities </li>
                            <li> Complimentary newspapers available </li>
                        </ul>
                    </ul>
                    <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="card">
    <ul class="nav nav-tabs text-center" role="tablist" class="nav navbar-collapse">
        <li role="presentation" style="width: 12%;"><a href="#royalSuite" aria-controls="HighQua Junior Suite" role="tab" data-toggle="tab"> Royal </a></li>
        <li role="presentation" style="width: 12%;"><a href="#bungaloSuite" aria-controls="HighQua Deluxe Suite" role="tab" data-toggle="tab"> Overflow Bungalo   </a></li>
        <li role="presentation" style="width: 12%;"><a href="#executiveSuite" aria-controls="HighQua Executive Suite" role="tab" data-toggle="tab"> Presidential  </a></li>
        <li role="presentation" style="width: 12%;"><a href="#terraceSuite" aria-controls="HighQua Terrace Suite" role="tab" data-toggle="tab"> Villa </a></li>
        <li role="presentation" style="width: 12%;"><a href="#penthouseSuite" aria-controls="Penthouse Suite" role="tab" data-toggle="tab"> Penthouse  </a></li>
        <li role="presentation" style="width: 12%;"><a href="#bungaloSuite" aria-controls="HighQua OverflowBungalow Suite" role="tab" data-toggle="tab"> Terrace  </a></li>
        <li role="presentation" style="width: 12%;"><a href="#presidentialSuite" aria-controls="HighQua Presidential Suite" role="tab" data-toggle="tab"> Junior </a></li>
        <li role="presentation" style="width: 12%;"><a href="#royalSuite" aria-controls="HighQua Royal Suite" role="tab" data-toggle="tab"> Deluxe </a></li>
        <li role="presentation" style="width: 12%;"><a href="#royalSuite" aria-controls="HighQua Royal Suite" role="tab" data-toggle="tab"> Executive </a></li>
    </ul>

    <div class="tab-content">
        <!--  Royal Suite  -->
        <div role="tabpanel" class="tab-pane active" id="royalSuite">
            <legend> Royal Two Bedroom Suite </legend>
            <div>
                This room has enough space for a single bed and enough space for one person. A single type of room is perfect for a person who wants to be alone and get away from stress.
            </div>
            <div class="feature-full-1col">
                <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                    <div class="descrip text-center">
                        <p><small>For as low as</small><span>$100/night</span></p>
                    </div>
                </div>
                <div class="desc">
                    <ul class="list-group">
                        <h2 style="color: orange;"> Royal Suite </h2>
                        <p> Suite Details</p>
                        <ul>
                            <li> 431-539 sq ft / 40-50 sq m </li>
                            <li> 1 King-sized bed</li>
                            <li> 3 Adults and 2 Children (maximum occupancy)</li>
                            <li> Rooms located at 30/F </li>
                            <li> City View </li>
                        </ul>

                        <p> Suite Anemities </p>
                        <ul>
                            <li> Free wireless internet connection throughout the property </li>
                            <li> Cable TV </li>
                            <li> Shower and/or bathtub</li>
                            <li> Coffee & Tea facilities </li>
                            <li> Complimentary newspapers available </li>
                        </ul>
                    </ul>
                    <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                </div>
            </div>
        </div>


        <!-- Overflow Bungalo Suite  -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane " id="bungaloSuite">
                <legend> Overflow Bungalo Bedroom Suite </legend>
                <div>
                    This room has enough space for a single bed and enough space for one person. A single type of room is perfect for a person who wants to be alone and get away from stress.
                </div>
                <div class="feature-full-1col">
                    <div class="image" style="background-image: url(/public/images/hotel_feture_1.jpg);">
                        <div class="descrip text-center">
                            <p><small>For as low as</small><span>$100/night</span></p>
                        </div>
                    </div>
                    <div class="desc">
                        <ul class="list-group">
                            <h2 style="color: orange;"> Royal Suite </h2>
                            <p> Suite Details</p>
                            <ul>
                                <li> 431-539 sq ft / 40-50 sq m </li>
                                <li> 1 King-sized bed</li>
                                <li> 3 Adults and 2 Children (maximum occupancy)</li>
                                <li> Rooms located at 30/F </li>
                                <li> City View </li>
                            </ul>

                            <p> Suite Anemities </p>
                            <ul>
                                <li> Free wireless internet connection throughout the property </li>
                                <li> Cable TV </li>
                                <li> Shower and/or bathtub</li>
                                <li> Coffee & Tea facilities </li>
                                <li> Complimentary newspapers available </li>
                            </ul>
                        </ul>
                        <p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>



        <!-- Triple Rooms-->
        <div role="tabpanel" class="tab-pane" id="executiveSuite">
            <legend>Triple </legend>
            <div>
                Executive suite is perfect suite type for top managers, business men and women or company’s CEO, CFO, COO, CTO etc.
            </div>
            <div id="fh5co-hotel-section">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/tripleRoom1.png);">
                                    <div class="price"><small>For as low as</small><span>$100/night</span></div>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <button class="btn btn-sm w-50 btn-info"> <i class="fa fa-info mr-3"></i> More Info</button>
                                    <button class="btn btn-sm w-50 btn-pri+mary"> <i class="ti-calendar mr-3"></i> Book Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/tripleRoom2.jpg);">
                                    <div class="price"><small>For as low as</small><span>$100/night</span></div>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <button class="btn btn-sm w-50 btn-info"> <i class="fa fa-info mr-3"></i> More Info</button>
                                    <button class="btn btn-sm w-50 btn-primary"> <i class="ti-calendar mr-3"></i> Book Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/tripleRoom3.jpg);">
                                    <div class="price"><small>For as low as</small><span>$100/night</span></div>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                    <button class="btn btn-sm w-50 btn-info"> <i class="fa fa-info mr-3"></i> More Info</button>
                                    <button class="btn btn-sm w-50 btn-primary"> <i class="ti-calendar mr-3"></i> Book Now</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- HighQua Quad Rooms -->
        <div role="tabpanel" class="tab-pane" id="terraceSuite">
            <legend> Quad </legend>
            <div>
                If you like big terraces with wonderful view and you like to spend most of your time outside instead of inside in your vacation, terrace suite will be perfect for you.
            </div>
            <div id="fh5co-hotel-section">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-1.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-2.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-3.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-4.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-5.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(public/images/image-6.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- HighQua Queen Rooms -->
        <div role="tabpanel" class="tab-pane" id="penthouseSuite">
            <legend> Queen </legend>
            <div>
                Almost every luxury hotel in a city has a special suite on the top floor. Usually, this suite is the penthouse suite; for everyone who wants to enjoy the magnificent view from the spacious suite or from the roof terrace with family, friends, colleagues
                or business partners.
            </div>
            <div id="fh5co-hotel-section">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-1.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-2.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-3.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-4.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-5.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(public/images/image-6.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- HighQua King Rooms  -->
        <div role="tabpanel" class="tab-pane" id="presidentialSuite">
            <legend> King </legend>
            <div>
                People who like huge space inside and outside as well as garden; a luxury villa is a perfect choice. Villas are also good for families or group of friends.
            </div>
            <div id="fh5co-hotel-section">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-1.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-2.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-3.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-4.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-5.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(public/images/image-6.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <!-- HighQua Twin -->
        <div role="tabpanel" class="tab-pane" id="bungaloSuite">
            <legend> Twin </legend>
            <div>
                The famous overwater bungalows (also known as overwater villas) are perfect for couples, honeymooners and people who love to see the view of the endless sea.
            </div>
            <div id="fh5co-hotel-section">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-1.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-2.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-3.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-4.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-5.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(public/images/image-6.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- HighQua Hollywood Twin Room -->
        <div role="tabpanel" class="tab-pane" id="villaSuite">
            <legend> Hollywood Twin Room </legend>
            <div>
                People who like huge space inside and outside as well as garden; a luxury villa is a perfect choice. Villas are also good for families or group of friends.
            </div>
            <div id="fh5co-hotel-section">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-1.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-2.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-3.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-4.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-5.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(public/images/image-6.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- HighQua Double-double -->
        <div role="tabpanel" class="tab-pane" id="royalSuite">
            <legend> Double-double </legend>
            <div>
                If you want to live like a king during your vacation with your family, you have your own butler and you like the opulence in every detail, royal suite can be perfect for you.
            </div>
            <div id="fh5co-hotel-section">
                <div class="">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-1.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-2.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-3.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-4.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(/public/images/image-5.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="hotel-content">
                                <div class="hotel-grid" style="background-image:url(public/images/image-6.jpg);">
                                    <div class="price"><small>For as
                                                        low as</small><span>$100/night</span></div>
                                    <a class="book-now text-center" href="#"><i
                                                        class="ti-calendar"></i>
                                                    Book Now</a>
                                </div>
                                <div class="desc">
                                    <h3><a href="#">Hotel Name</a></h3>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>